.card {
    border: 2px solid #00C0EA;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.card__name {
    font-size: 18px;
    font-weight: bold;
    color: #00C0EA;
}

.card__img {
    width: 100%;
    max-width: 200px;
    height: auto;
    max-height: 300px;
    margin-top: 20px;
}

.text_container{
    max-width: 400px;
}

.container-collections{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    gap: 30px;
}